
.Board {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3em 0;
    margin: 0 auto;
}

.BoardTile {
    background-color: #DAF0EE;
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    line-height: 40px;
    text-transform: capitalize;
}

.boardShade {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    left: 0;
    top: 0;
}

.tileText {
    opacity: 1;
}