/* PALLETTE: #a8e6cf • #dcedc1 • #ffd3b6 • #ffaaa5 • #ff8b94 */
.App {
  text-align: center;
  margin: 3em 0;
  background-color: #121212;
  color: #fff;
}

.asciiHeader {
  margin: 2em 0;
  opacity: 70%;
}

.header-E {
  color: #a8e6cf
}
.header-T {
  color: #dcedc1
}
.header-A {
  color: #ffd3b6
}
.header-K {
  color: #ffaaa5
}
.header-I {
  color: #ff8b94
}

.asciiArt {
  font-family: monospace;
  line-height: 0;
  white-space: pre;
}

.puzzleNumber {
  background-color: #a8e6cf;
  border: 1px solid black;
  border-radius: 2px;
}

.actionMenu {
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: baseline;
  margin: 1em 0;
}

.actionMenu p, .actionMenu button {
  margin: 0 0.5em;
  opacity: 60%;
}

.clearButton {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ff8b94;
  padding: 0.5em;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

.moveCount {
  background-color: #ffaaa5;
  color: white;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 20px;
  font-weight: 600;
  border: 1px solid black;
}

.undoButton {
  border: 1px solid black;
  background-color: #ffd3b6;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-weight: 600;
  padding: 0;
}

.fragmentList {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  margin: 1em auto;
}
