/* PALLETTE: https://coolors.co/ffffff-3b413c-9db5b2-daf0ee-94d1be*/
.App {
  text-align: center;
  background-color: #fff;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loadingSpinner {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 40%;
  left: calc(50% - 30px);
}

.asciiHeader {
  font-family: 'Rubik', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding: 2em 0 2em;
  font-size: 3em;
  
}

.header_E, .header_T, .header_A, .header_K, .header_I {
  color: #9DB5B2
}

.asciiArt {
  line-height: 8pt;
  margin-bottom: 0;
  white-space: pre;
}

.puzzleNumber {
  background-color: #a8e6cf;
  border: 1px solid black;
  border-radius: 2px;
}

.actionMenu {
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: baseline;
  margin: 1em 0 ;
}



.clearButton, .clearButton:focus, .clearButton:active {
  background-color: #3B413C;
  opacity: 0.8;
  border: none;
  box-shadow: none;
}

.clearButton:disabled {
  background-color: #3B413C;
  border: none;
}

.clearButton:hover {
  background-color: #9DB5B2;
  opacity: 1;
}


.puzzleTimer, .puzzleTimer:focus, .puzzleTimer:active, .puzzleTimer:hover {
  background-color: #3B413C;
  border: none;
  box-shadow: none;
  cursor: default;
}

.puzzleTimer:disabled {
  background-color: #9DB5B2;
  opacity: 1;
  cursor: default;
}




.undoButton, .undoButton:focus, .undoButton:active {
  background-color: #3B413C;
  opacity: 0.8;
  border: none;
  color: white;
  margin-left: 0 !important;
}

.undoButton:disabled {
  background-color: #3B413C;
  border: none;
}

.undoButton:hover {
  background-color: #9DB5B2;
  color: white;
  opacity: 1;
  box-shadow: none;
}

.fragmentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50%;
  padding: 3em 0;
  margin: 0 auto;
}

.instructionDialog , .winDialog  {
  background-color: #3B413C;
  color: #fff; 
  font-family: Arial, Helvetica, sans-serif;
}

.winDialogHeader {
  display: flex;
  justify-content: space-between;
  
}

.streakLabel, .timeLabel, .nextPuzzleLabel {
  font-weight: normal;
  margin: 0;
  font-size: 0.7em;
  font-family: Arial;
}

.streakValue, .timeValue, .nextPuzzleValue {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  font-family: Arial;
}

.winDialogBody {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.nextPuzzle {
  text-align: center;
  display: flex;
  justify-content: left;
}

.progressWrapper {
  color: white;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em
  
}

.shareButton, .shareButton:focus, .shareButton:active  {
  background-color: #9DB5B2;
  opacity: 0.8;
  border: none;
  color: white;
  font-weight: bold;
}

.shareButton:hover {
  background-color: #9DB5B2;
  opacity: 1;
  border: none;
  color: white;
}


.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 200px;
  margin-left: calc(50% - 100px);
  color: #fff
}